<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">


	<bean id="propertiesHolder"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:jdbc.properties</value>
		</property>
	</bean>

	<bean id="mydataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- SessionFactory -->
	<bean id="mysessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="mydataSource"></property>
		<!-- 注入hibernate配置参数 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		<!-- 注入hibernate映射描述文件 -->
		<property name="mappingResources">
			<list>
				<value>org/lsh/qing/entity/Category.hbm.xml</value>
				<value>org/lsh/qing/entity/Product.hbm.xml</value>
				<value>org/lsh/qing/entity/Book.hbm.xml</value>
				<value>org/lsh/qing/entity/User.hbm.xml</value>
				<value>org/lsh/qing/entity/Item.hbm.xml</value>
				<value>org/lsh/qing/entity/Order.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- 利用组件自动扫描将dao和service扫描进来 -->
	<context:component-scan base-package="org.lsh.qing" />

	<!-- 声明式事务管理,采用AOP形式切入 -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="mysessionFactory" />
	</bean>

	<!-- 启用事务注解配置 -->
	<tx:annotation-driven transaction-manager="txManager" />
</beans>